<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>au.com.workwireless.keepy-uppy.helper</string>
    <key>BundleProgram</key>
    <string>Contents/MacOS/KeepyUppyHelper</string>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>MachServices</key>
    <dict>
        <key>au.com.workwireless.keepy-uppy.helper</key>
        <true/>
        <key>au.com.workwireless.keepy-uppy.helper.agent</key>
        <true/>
        <key>au.com.workwireless.keepy-uppy.helper.cli</key>
        <true/>
    </dict>
    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>au.com.workwireless.keepy-uppy</string>
    </array>
</dict>
</plist>
